.hidden {
  display: none !important;
}

.container,
.nav-content {
  margin: 0 auto;
  padding: 0 2rem;
}

.col-full,
.col-fifth,
.col-two-fifths,
.col-half,
.col-three-fifths,
.col-four-fifths {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.align-top {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.direction-swap {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .container,
  .nav-content {
    max-width: 900px;
  }

  .col-fifth {
    width: 20%;
  }

  .col-two-fifths {
    width: 40%;
  }

  .col-three-fifths {
    width: 60%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifths {
    width: 80%;
  }

  .direction-swap {
    flex-direction: row;
  }
}
