.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

.col-full,
.col-third,
.col-two-thirds {
  width: 100%;
}

.center-align {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
    margin: 1rem 0;
  }
}
