body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #3c5233;
  font-weight: 300;
}

.nav-header,
.page-header,
.high-lvl-title,
.more-info,
.find-parks,
.filter-bar,
#clear-filter,
#filter-search,
.general-header,
.subheading {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.nav-header,
a,
button,
i,
select,
.nav-links {
  cursor: pointer;
}

nav {
  color: #fefae0;
  background-color: #264027;
}

.nav-content,
.details-high-lvl-header,
.filter-bar,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content > ul {
  list-style: none;
}

.page-header {
  color: #fefae0;
  max-width: 80%;
}

.subheading {
  margin: 0.75rem 0;
}

#filter-form .subheading {
  margin-top: 0;
}

.filter-bar {
  font-size: 1.25rem;
}

.filter-bar,
#filter-modal,
.filter-field {
  padding: 0.25rem 0.5rem;
  background-color: white;
  border-radius: 0.3rem;
}

#filter-modal,
.filter-field {
  margin: 0.5rem 0;
}

#filter-form,
.filter-field {
  display: flex;
  align-items: center;
}

.filter-field {
  justify-content: space-between;
  color: gray;
  margin: 0;
}

#filter-form {
  flex-wrap: wrap;
  padding: 0.5rem 0.25rem;
}

.filter-field,
fieldset {
  border: 1px solid #dda15e;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 0.3rem;
}

fieldset {
  border-top: none;
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0;
  padding: 0 0.2rem;
  height: 5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#state-components {
  width: 40%;
}

#activity-components {
  width: 50%;
}

#topic-components {
  width: 55%;
}

.search-buttons {
  margin: 2.2rem 0 0.5rem;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

#clear-filter {
  color: #dda15e;
  background-color: white;
  border: 1px solid #dda15e;
  padding: 0.2em 0;
  width: 50%;
}

#filter-search {
  background-color: #dda15e;
  color: #fefae0;
  padding: 0.2rem 0;
  width: 45%;
}

button,
a,
select {
  border-radius: 0.3rem;
  border: none;
}

i {
  color: #dda15e;
}

.park-high-lvl {
  margin: 1.5rem auto;
  background-color: white;
  border-radius: 0.3rem;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.3rem 0.3rem 0 0;
}

.details-high-lvl {
  padding: 1.5rem;
}

.high-lvl-title {
  margin: 0;
  width: 75%;
}

.fa-star {
  scale: 1.5;
}

.more-info,
.find-parks,
a {
  background-color: #dda15e;
  color: #fefae0;
  padding: 0.25rem 0.75rem;
}

#no-results,
#no-filtered-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fefae0;
  padding: 1.5rem;
}

.page-num {
  font-family: Oswald, sans-serif;
  color: #fefae0;
  font-weight: 400;
  text-align: center;
  margin: 1rem auto;
}

.find-parks {
  margin: 1.5rem;
  font-size: 1.25rem;
}

#page-num {
  margin: 0 0.25rem;
}

#individual-park {
  background-color: white;
  border-radius: 0.3rem;
}

#indiv-park-img {
  height: 25vh;
}

.general-header {
  margin: 0.5rem 0 0;
  padding: 0 1.5rem;
}

a {
  display: inline-block;
  margin: 0.5rem;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

p {
  overflow-wrap: break-word;
}

.overflow {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  border: #dda15e solid 0.5px;
  border-radius: 0.3rem;
  max-width: 95%;
  height: 12rem;
  overflow: scroll;
  overflow-x: hidden;
}

.overflow > li {
  overflow-wrap: break-word;
}

#address,
#contact-info {
  white-space: pre-wrap;
}

@media screen and (min-width: 768px) {
  #clear-filter,
  #filter-search {
    width: 45%;
  }

  .park-high-lvl {
    display: flex;
  }

  .img-high-lvl {
    height: 100%;
    border-radius: 0.3rem 0 0 0.3rem;
  }

  #indiv-park-img {
    height: 45vh;
    object-position: 60% 40%;
    border-radius: 0.3 0.3 0 0;
  }
}
